.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.welcome {
  color: var(--main-blue);
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF UI Display, serif;
  font-size: 34px;
  margin-bottom: 22px;
  font-weight: 700;
  line-height: 41px; /* 120.588% */
  letter-spacing: -0.2px;
}

.home h4 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 105.882% */
  letter-spacing: -0.8px;
}

.form .ant-form-item-row {
  display: flex;
  justify-content: space-between;
  /* width: 500px;*/
}

.switch-container {
  background-color: #1f2229;
  padding: 9px 10px 8px 14px;
  border-radius: 15px;
}

.form .ant-switch {
  display: flex;
  align-items: center;
  border: 1px solid var(--main-blue);
}

.form label {
  color: white !important;
}

.last-form-item .ant-form-item-row {
  display: flex;
  flex-direction: column !important;
}

.form .ant-form-item {
  margin-bottom: 0;
}

.select-direction {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF UI Display, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 105.882% */
  letter-spacing: -0.8px;
}

.button-continue {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 16px 120px 16px 119px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--main-blue);
  margin-top: 124px;
  font-size: 18px;
}

.form .ant-row {
  flex-flow: row nowrap;
}

.form-item-row {
  height: 56px;
  border-bottom: 1px solid #2a2c32;
}

.form-item-row:last-child {
  border: none;
}

.form .ant-select-selector {
  background-color: var(--main-blue) !important;
  border: 1px solid var(--main-blue) !important;
  height: 50px !important;
  color: white;
}

.form .ant-switch .ant-switch-handle::before {
  top: -2px;
}

.ant-select-dropdown {
  background-color: #2a2c32;
}

.ant-select-item-option-selected {
  color: white !important;
  font-weight: 600;
  background-color: #0a85e6 !important;
  height: 50px;
  display: flex;
  align-items: center;
}

.ant-select-item-option {
  height: 50px;
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .welcome {
    width: 270px;
  }
}
