{% block title %}ADD ADDS{% endblock %} {% block content
%}
<form method="post">
  <p> Обьявление №{{ id }}</p>
  <label for="ads_content"> Обьявление: </label>
  <input type="text" id="ads_content" name="ads_content" placeholder="{{ info }}"/><br><br>
  <label for="date_del" >Дата удаления:</label>
  <input type="date" id="date_del" name="date_del" placeholder="{{date}}"/><br><br>
  <label for="time_del">Врем удаление:</label>
  <input type="time" id="time_del" name="time_del" placeholder="{{time}}"/><br><br>
  <input type="submit" value="change" name="change_submit">
  <input type="submit" value="remove" name="remove">
</form>
{% endblock %}
